<h2>Posts</h2>
<div class="col-md-4">
  <ul class="list-unstyled">
    {{#each model as |post|}}
      <li>
        {{#link-to 'post' post}}
          {{post.title}}
          <span class="muted">
            by {{post.author.name}}
          </span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-md-8">
  {{outlet}}
</div>